/*El simbolo < hace referencia a los primeros hijos*/
ol > li{
    color: purple;
}

ul > li{
    color: orangered;
}

/*Todos los elementos que esten dentro a cualquier nivel van a adquirir esas propiedades*/
.heading h1{
    background-color: aquamarine;
}

.textos p{
    color: blueviolet;
}

.textos > p{
    background-color: coral;
}

tbody tr:nth-of-type(odd){
    background-color: lightgrey;
}

tbody tr:nth-of-type(even){
    background-color: gray;
}

tbody tr:hover{
    background-color: lightblue;
    cursor: pointer;
}