body{
    width: 50vw;
    height: 50vh;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: green;
    color: white;
    font-size: 20px;
    border-color: white;
}